.dialog {
  background-color: #fff;
  width: 100%;
  border: none;
  position: relative;
  top: 0;
  top: 0;
  padding: 76px 30px 119px;
  overflow: hidden;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: block;
    padding: 0;
    background-color: transparent;
  }
}

.dialog--open {
  @media (min-width: $tablet-width) {
    background-color: #fff;
    width: 100%;
    border: none;
    position: relative;
    top: 0;
    top: 0;
    padding: 76px 30px 119px;
    overflow: hidden;

    &::backdrop {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
