.header-menu__button {
  background-repeat: no-repeat;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;

  &--open {
    background-image: url("../img/buttons/b-open.svg");
  }

  &--close {
    background-image: url("../img/buttons/b-close.svg");
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
