.menu__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media(min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.menu__item:first-child {
  margin-bottom: 11px;
}

.menu__button {
  width: 177px;
  padding: 10px;

  @media(min-width: $tablet-width) {
    width: auto;
    padding: 10px 20px;
    box-shadow: none;
  }
}
