.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #685ed6;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  border: none;
  cursor: pointer;

  &--add {
    color: #685ED6;
    background: #f1e4ff;

    &:hover {
      background: rgba(195, 155, 251, 1);
    }

    &:active {
      background: rgba(104, 94, 214, 1);
    }
  }

  &:hover {
    background: rgba(51, 175, 225, 1);
  }

  &:active {
    background: rgba(24, 225, 247, 1);
  }
}
