.password {
  position: absolute;
  top: 12px;
  left: 210px;
  background-image: url("../img/icons/ic-dialog.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
}
