.tariff {
  width: 100%;
  padding-right: 23px;
  padding-left: 23px;
  padding-bottom: 54px;
  background-color: white;
  overflow-x: hidden;

  @media (min-width: $desktop-width) {
    padding-right: 160px;
    padding-left: 160px;
  }
}

.tariff__title {
  margin-top: 0;
  margin-bottom: 0ch8px;
  padding-top: 54px;
  text-align: center;
}

.tariff__description {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
}

.tariff__description br {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tariff__list {
  display: flex;
  gap: 83px;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 330px;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    gap: 20px;
    max-width: 722px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    max-width: fit-content;
  }
}

.tariff__item {
  display: block;
  flex-basis: 100%;
  max-width: 330px;
  background: #fcfeff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  padding-bottom: 50px;
}

.tariff__subtitle {
  display: block;
  font-weight: 800;
  font-size: 24px;
  line-height: 48px;
  color: #685ed6;
  text-align: center;
  background-color: rgba(104, 94, 214, 0.05);
  margin-top: 0;
  margin-bottom: 40px;
}

.tariff__info {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;
  padding: 0 54px;
}

.tariff__price {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 46px;
  padding: 0 54px;
  white-space: nowrap;
}

.tariff__button {
  display: block;
  box-sizing: border-box;
  width: 270px;
  height: 48px;
  margin: 0;
  margin-left: 33px;
  margin-right: 33px;
}
