.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;

  &--dialog {
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    color: #685ed6;
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
  }
}
